.global {
    --element-color: #FFD83E;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: rgba(245, 245, 245, 0.9); /* texte blanc cassé avec légère transparence */
    --background: rgba(41, 41, 41, 0.6); /* gris foncé semi-transparent */
    --background-element: rgba(66, 66, 66, 0.6); /* éléments plus clairs, translucides */
    --background-transparent: rgba(44, 44, 44, 0.5); /* déjà translucide */
    --shadow: rgba(25, 25, 25, 0.6); /* ombre douce et translucide */
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}

.light {
    --color: rgba(21, 21, 21, 0.85); /* texte sombre mais pas trop dur */
    --background: rgba(255, 255, 255, 0.6); /* fond principal translucide blanc */
    --background-element: rgba(245, 245, 245, 0.4); /* éléments un peu plus opaques */
    --background-transparent: rgba(255, 255, 255, 0.3); /* voile encore plus clair */
    --shadow: rgba(0, 0, 0, 0.1); /* ombre douce et subtile */
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) 
                 saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}